@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');

*{
    margin: 10;
    padding: 10;
    box box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: thistle;
}

header{
    position: relative;
    top: 0;
    width: 100%;
    padding: 30px, 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo{
    max-width: 500px;
    margin: 50px 100px;
    position: relative;
    color: #48053ef6;
    font-size: 30px;
    text-decoration: none;
    
}

header .navigation a{
    color: #48053ef6;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 2px 15px;
    border-radius: 20px;
    transition: 0.3s;
    

}

header .navigation a:hover{
    background: #fff;
}

.content{
    max-width: 500px;
    margin: 50px 100px;
}

.content .info h2{
    color: #48053ef6;
    font-size: 30px;
    font font-weight: 500;
    margin-bottom: 30px;
}

.content .info p{
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 10px;


}
.content .info-btn{
    color: #e9abdff6;
    background: #000000;
    text-decoration: none;
    font-weight: 700;
    padding: 20px, 200px;
    border-radius: 20px;
    transition: 0.3s;
}

.content .info-btn:hover{
    background: #fff;

}

.media-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;

}

.media-icons a{
    position: relative;
    color: rgb(23, 23, 89);
    font-size: 25px;
}

.media-icons a:not(:last-child) {
    margin-right: 60px;

}

.media-icons a:hover{
    transform: scale(1.5);

}

.services{
    max-width: 500px;
    margin: 50px 100px;
}

.image{
    max-width: 500px;
    margin: 50px 100px;

}